<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Eat Da Burger</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../../public/assets/Images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../public/assets/Images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../public/assets/Images/favicon-16x16.png">
<link rel="manifest" href="../../public/assets/Images/site.webmanifest">
</head>

<body>
    {{{ body }}}
</body>

</html>